<a href="https://colab.research.google.com/github/irwansaputrapanggabean237-ai/PEMROGRAMAN-DASAR/blob/main/praktikum%2002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# deklarasi variabel list
numbers = [23, 43, 15, 341]
# cara mengakses elemen dalam variabel list
numbers[0]  # 27
numbers[1]  # 43
numbers[2]  # 15
numbers[3]  # 34
# cara mengubah nilai elemen dalan variabel list
numbers[2] # 51
numbers[2] # 51

print (numbers[1])
print (numbers [2])
print (numbers [3])

43
15
341

In [ ]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5)    # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4     #  [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2)    # [1, 2, 4]

#print lalu lihat hasilnya

3

In [ ]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers.pop(2) # (1, 2, 4)

#print setiap hasil perubahan dan amati hasilnya

3

In [ ]:
# deklarasi variabel list
mylist = [1,"rumah", 4.5, True, ["kamar mandi", "kamar tidur"]]

# cara mengakses elemen dalam variabel list
mylist[0]   # 1
mylist[1]   # "Rumah"
mylist[3]   # true
mylist[4]   # ["kamar mandi", "kamar tidur"]

# cara mengakses elemen dalam sublist
mylist[4][0]   # "kamar mandi"
mylist[4][1]   # "kamar tidur"

#lakukan print amati hasilnya

'kamar tidur'

In [4]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [6]:
x = (1, "polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [8]:
x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [10]:
x = (5, 'program', 1+3j)
x[1] = 'polibatam'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0]    # 23
numbers[1]    # 43
numbers[2]    # 15
#lakukan print lalu amati hasilnya

15

In [ ]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b)    # {1, 2, 3, 4}

# operasi irisan
a.intersection(b)    # {2, 3}

# operasi perbedaan
a.symmetric_difference(b)    # {1, 4}

#lakukan print dan lihat hasilnya

{1, 4}

In [11]:
x = { 'name': 'perseus evans', 'age': 20, 'ismarried': False }

print(type(x))

<class 'dict'>

In [12]:
x = { 'name': 'irwan saputra panggabean', 'age': 20, 'isMarried': False }

print(type)

<class 'type'>

In [13]:
x = { 'name': 'irwan saputra panggabean', 'age': 20, 'isMarried': False }

print(x['name'])

irwan saputra panggabean

In [15]:
x = { 'name': 'irwan saputra panggabean', 'age': 20, 'isMarried': False }
x ['job'] = "web developer"

print(x)

{'name': 'irwan saputra panggabean', 'age': 20, 'isMarried': False, 'job': 'web developer'}

In [16]:
x = { 'name': 'irwan saputra panggabean', 'age': 20, 'isMarried': False }
del x['isMarried']

print(x)

{'name': 'irwan saputra panggabean', 'age': 20}

In [17]:
x = { 'name': 'irwan saputra panggabean', 'age': 20, 'isMarried': False }
x ['name'] ="syahputra"

print(x)

{'name': 'syahputra', 'age': 20, 'isMarried': False}

In [27]:
# deklarasi variabel dictionary
property_Detail = {"numFloors": 1, "propertytype": "rumah", "hasterrace": True, "hasgarage": False}

# cara mengakses elemen dalam variabel dictionary
property_Detail["numFloors"]       # 1
property_Detail["propertytype"]    # "Rumah"
property_Detail["hasterrace"]      # True
property_Detail["hasgarage"]       # False

#cara mengubah nilai elemen dalam variabel dictionary
property_Detail["hasTerrace"] = False

property_Detail["hasTerrace"]       # false

print(property_Detail["propertytype"])

rumah